.background-image {
    position: absolute;
    transition: opacity .5s, filter 1s;
    opacity: 1;
    
    @media screen and (min-width: 1280px) {
        object-fit: cover;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    @media screen and (max-width: 1279px) {
        width: 100%;
        height: 100%;
    }
}

.background-image_second {
    position: absolute;
    transition: opacity 1s, filter 1s;
    opacity: 0;

    @media screen and (min-width: 1280px) {
        object-fit: cover;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    @media screen and (max-width: 1279px) {
        width: 100%;
        height: 100%;
    }
}