.button{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 5;
    top: 48%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    border-top: 3px solid #fff;
    filter: drop-shadow(0 0 2px rgba(black, 1));
    
    &-prev{
        left: 30px;
        rotate: -45deg;
        border-left: 3px solid #fff;
    }
    
    &-next{
        border-right: 3px solid #fff;
        right: 30px;
        rotate: 45deg;
    }
}