.main{
    position: relative;
    background-color: #1e1b1b;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;

    &_changing{
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: relative;
        background-color: #1e1b1b;
        scrollbar-width: none;
        overflow: hidden;

        & > img{
            filter: brightness(.8) blur(10px);
        }

        width: 100vw;
        height: 100vh;
    
        ::-webkit-scrollbar{
            width: none;
        }
    }

    width: 100vw;
    height: 100vh;

    ::-webkit-scrollbar{
        width: none;
    }
}
