.main{
    position: relative;
    background: url('/bg.webp');
    scrollbar-width: none;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;

    &_changing{
        composes: main;
        scrollbar-width: none;

        & > img{
            opacity: 0;
        }
    }

    min-width: 100vw;
    min-height: 100vh;

    ::-webkit-scrollbar{
        width: none;
    }
}
