.main{
    position: relative;
    background: url('/bg.png');
    scrollbar-width: none;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;

    &_changing{
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: relative;
        background: url('/bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        scrollbar-width: none;
        overflow: hidden;

        & > img{
            opacity: 0;
        }

        width: 100vw;
        height: 100vh;
    
        ::-webkit-scrollbar{
            width: none;
        }
    }

    width: 100vw;
    height: 100vh;

    ::-webkit-scrollbar{
        width: none;
    }
}
