$slide-height: 100px;
$bottom-margin: 50px;

.wrapper{
    color: white;
    padding: 0 10px !important;
    
    @media screen and (max-width: 768px) {
        width: calc(100% - 80px);
        height: auto;
    }

    @media screen and (min-width: 1280px) {
        width: 200px * 5 + 250px;
        height: auto;
    }

    margin: 0 auto;
}

.slider-outer{
    position: relative;
    padding: 25px 0;
    margin-top: 25px;

    @media screen and (min-width: 1280px) {
        height: 175px;
        width: 100vw;
    }
}

@keyframes anim {
    0%{background-position: right;}    
    100%{background-position: left;}    
}

.header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
}

.slide{
    user-select: none;
    position: relative;
    padding-bottom: 2px;

    &::before{
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: rgb(255, 231, 97);
        clip-path: polygon(-2px -2px, 100% -2px, -2px 100%);
        width: 40px;
        height: 40px;
        border-top: 2px solid black;
        border-left: 2px solid black;
        z-index: 3;
    }
    
    &::after{
        content: '';
        position: absolute;
        right: -5px;
        bottom: 0px;
        background-color: #fdff6b;
        clip-path: polygon(100% 0, 100% 100%, 0 100%);
        width: 30px;
        height: 30px;
        box-shadow: inset 0 0 1px black; 
    }
}

.image{
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    position: relative;
    object-fit: cover;
    margin-left: 2px;
    margin-top: 2px;
    box-shadow: 2px 2px 4px black;
    z-index: 2;
    user-select: none;
}

.line{
    position: relative;
    width: 100%;
    height: 3px;
    background-color: black;

    &::after{
        content: '';
        position: absolute;
        width: 3px;
        bottom: 0;
        height: 3px;
        background-color: black;
    }

    &:first-child{
        &::after{
            left: 100%;
        }
    }

    &:last-child{
        &::after{
            right: 100%;
        }
    }
}

.links{
    position: relative;
    flex-shrink: 0;
    transform: translateY(calc(-100% + 3px));
    background-color: rgba($color: #1e1b1b, $alpha: .8);
    clip-path: polygon(7% 0, 93% 0, 100% 100%, 0 100%);
    z-index: 5;

    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 20;
        pointer-events: none;
        box-shadow: inset 0 2px 0 1px black;
    }
}

.link{
    font-size: 24px;
    display: inline-block;
    padding: 5px 40px;
    text-decoration: none;
    color: white;
    transition: background-color .5s, color .5s;

    &:hover{
        background-color: white;
        color: black;
    }

    &::before{
        content: '';
        position: absolute;
        width: 3px;
        height: calc(100% + 25px);
        background-color: black;
        top: -5px;
    }

    &:first-child{
        padding-left: 60px;
        padding-right: 60px;
        position: relative;

        &::before{
            left: 7px;
            rotate: 35deg;
        }
    }

    &:last-child{
        position: relative;

        &::before{
            right: 8px;
            rotate: -35deg;
        }

        &::after{
            content: '';
            position: absolute;
            left: -20px;
            top: 0;
            height: calc(100% - 2px);
            width: 35px;
            pointer-events: none;
            border-radius: 50%;
            background-color: rgb(255, 231, 97);
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('/icons/link.svg');
            border: 1px solid black;
            z-index: 5555;
        }
    }
}