.container{
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 20px;
    color: white;
    display: flex;
    flex-direction: column;

}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.title{
    font-size: 24px;
    transform: translateY(5px);
}

.button{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    font-size: 25px;
}

.content{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
}

.text{
    line-height: 1.6;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.image{
    height: 52px;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: auto;
    margin-bottom: 30px;
    align-items: end;
}

.link{
    position: relative;
    color: #E0E193;
    font-size: 24px;
    text-decoration: none;

    &::after{
        content: '';
        position: absolute;
        background-color: #E0E193;
        height: 2px;
        left: 0;
        right: 0;
        top: calc(100% + 5px);
    }
}