$slide-height: 100px;
$bottom-margin: 50px;

.wrapper{
    color: white;
    margin-top: 50px;
    height: 150px;
    width: calc(100vw - 200px);
}

.slide{
    width: calc(calc(100% - 200px) / 10);
    height: $slide-height;
    box-shadow: 0 0 10px white;
}

.image{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    
    &2{
        width: 100%;
        height: 100%;
        border: 2px solid black;
        filter: invert(1);
    }
}