.container{
    display: flex;
    gap: 30px;
    margin: 0 auto;
    width: fit-content;
}

$padding-side-link: 10px;

.link{
    position: relative;
    font-size: 32px;
    color: white;
    text-decoration: none;
    padding: 5px $padding-side-link;
    text-shadow: 2px 2px 4px #000;

    &::after{
        position: absolute;
        content: '';
        top: 100%;
        left: $padding-side-link;
        right: $padding-side-link;
        background-color: white;
        height: 2px;
    }
}